.download {
  min-height: 270px;
  background-color: $darkgray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @media ($mobile-widths-only) {
    width: 320px;
  }
  @media ($tablet-widths) {
    width: 350px;
    min-height: 533px;
    margin-top: -533px;
    padding-left: 20px;
    padding-right: 350px;
    background-color: transparent;
  }
  @media ($desktop-widths) {
    width: 600px;
    height: 853px;
    margin-top: -853px;
    padding-left: 10px;
    padding-right: 600px;
    background-color: transparent;
  }
}

.download__link {
  display: flex;
  flex-wrap: wrap;
}

.download__link--app {
  font-family: "OpenSans bold", Arial, sans-serif;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: solid 3px $white;
  border-radius: 26px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 27px;
  @media ($tablet-widths) {
    margin-left: 10px;
    padding-left: 43px;
    padding-right: 45px;
  }
  @media ($desktop-widths) {
    margin-left: -60px;
    padding-left: 30px;
    padding-right: 28px;
    font-size: 21px;
  }
  &:hover {
    background-color: $white;
    color: $pink;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__link--apple {
  margin-top: -15px;
  @media ($tablet-widths) {
    margin-top: -3px;
    margin-left: 5px;
    background-color: transparent;
  }
  @media ($desktop-widths) {
    margin-top: 16px;
    margin-left: -62px;
  }
}

.download__link--android {
  margin-top: -10px;
  margin-left: 40px;
  margin-right: 35px;
  @media ($tablet-widths) {
    margin-top: -1px;
  }
  @media ($desktop-widths) {
    margin-top: 23px;
    margin-left: 35px;
    margin-right: 0;
  }
}

.download__link--microsoft {
  margin-top: -10px;
  @media ($tablet-widths) {
    margin-top: 3px;
  }
  @media ($desktop-widths) {
    margin-top: 25px;
    margin-left: 35px;
  }
}

.logo-apple {
  width: 46px;
}

.logo-android {
  width: 43px;
}

.logo-microsoft {
  width: 43px;
}

.download__platforms {
  font-family: 'OpenSans light', Arial, sans-serif;
  color: $white;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -28px;
  @media ($tablet-widths) {
    font-size: 18px;
    margin-left: 17px;
    margin-right: 10px;
    margin-top: -15px;
  }
  @media ($desktop-widths) {
    margin-left: 90px;
    margin-right: 150px;
    margin-top: 3px;
  }
}

.download__slogan {
  font-family:"OpenSans light", Arial, sans-serif;
  font-size: 40px;
  color: $white;
  text-align: center;
  line-height: 48px;
  @media ($mobile-widths-only) {
    display: none;
  }
  @media ($tablet-widths) {
    display: block;
    margin-top: 7px;
    margin-left: 8px;
    margin-bottom: 3px;
  }
  @media ($desktop-widths) {
    display: block;
    font-size: 50px;
    line-height: 60px;
    margin-top: 218px;
    margin-left: -60px;
    margin-bottom: 24px;
  }
}
