.intro-image {
  min-height: 396px;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-position: 0 110px, -190px -70px;
  background-repeat: no-repeat, no-repeat;
  background-color: $gray;
}

.intro-image--photo {
  height: 170px;
  background-color: $gray;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: -190px -70px;
  background-repeat: no-repeat;
}

.page-header__competition-title {
  color: $white;
  font-family: 'OpenSans light', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -141px;
}
