.logo {
  display: block;
  width: 75px;
  height: 24px;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 20px;
  @media ($mobile-widths-only) {
    padding-right: 225px;
  }
  @media ($tablet-widths) {
    padding-right: 605px;
  }
  @media ($desktop-widths) {
    padding-right: 1105px;
  }
  border-bottom: solid 1px $black;
  z-index: 30;
}

@media ($mobile-widths-only) {
  .logo-pink-white-tablet,
  .logo-pink-white-desktop {
    display: none;
  }
}

@media ($tablet-widths) {
  .logo-pink-white-mobile,
  .logo-pink-white-desktop {
     display: none;
   }
  .logo-pink-white-tablet {
    display: block;
  }
 }

@media ($desktop-widths) {
  .logo-pink-white-mobile,
  .logo-pink-white-tablet {
    display: none;
  }
  .logo-pink-white-desktop {
    display: block;
  }
}