.logo {
  display: block;
  width: 75px;
  height: 24px;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 225px;
  border-bottom: solid 1px $black;
  z-index: 30;
}
