.main-nav {
  position: relative;
  width: 320px;
  max-height: 320px;
  margin: 0 auto;
  z-index: 0;
}

.main-nav--closed::before {
  content: '';
  position: absolute;
  top: 0;
  width: 320px;
  height: 66px;
  background-color: $darkgray;
  opacity: 0.3;
  z-index: -10;
}

/* гамбургер или крестик */
.main-nav__toggle {
  position: absolute;
  top: 20px;
  left: 250px;
  display: block;
  width: 50px;
  height: 25px;
  z-index: 20;
  font-size: 0;
  background-color: $gray;
  border: none;
  outline: none;
  cursor: pointer;
}

/* гамбургер */
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 0 0 rgba(255, 255, 255, 0.3), 0 20px 0 0 rgba(255, 255, 255, 0.3);
}

/* крестик */
.main-nav--opened .main-nav__toggle {
  top: 20px;
  left: 277px;
  width: 24px;
  height: 24px;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  width: 30px;
  height: 5px;
  background-color: $white;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav__list {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  display: none;
}

.main-nav__item {
  list-style: none;
  font-family: "OpenSans bold", sans-serif;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px $black;
  background-color: $gray;
}

.main-nav__link {
  list-style: none;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}

/*.main-nav--nojs {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  height: auto;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav--nojs .main-nav__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}*/
