.page-header--index {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  @media ($mobile-widths-only) {
    min-height: 462px;
    background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
    background-position: 0 176px, -190px 0;
    background-repeat: no-repeat, no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-mobile@2x.png), url(../img/bg-back-mobile@2x.jpg);
      background-size: 258px auto, 700px auto;
    }
  }
  @media ($tablet-widths) {
    min-height: 721px;
    background-image: url(../img/iphone-hand-tablet@1x.png), url(../img/bg-back-tablet@1x.jpg);
    background-position: 0 176px, -250px 0;
    background-repeat: no-repeat, no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-tablet@2x.png), url(../img/bg-back-tablet@2x.jpg);
      background-size: 700px auto, 1200px auto;
    }
  }
  @media ($desktop-widths) {
    min-height: 853px;
    background-image: url(../img/iphone-hand-desktop@1x.png), url(../img/bg-back-desktop@1x.jpg);
    background-position: 143px 208px, -682px 0;
    background-repeat: no-repeat, no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-desktop@2x.png), url(../img/bg-back-desktop@2x.jpg);
      background-size: 1050px auto, 2560px auto;
    }
  }
}

.page-header--photo {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  @media ($mobile-widths-only) {
    min-height: 237px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-position: -190px 0;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-mobile@2x.jpg);
      background-size: 700px auto;
    }
  }
  @media ($tablet-widths) {
    min-height: 440px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position: -250px 0;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: 1200px auto;
    }
  }
  @media ($desktop-widths) {
    min-height: 394px;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-position: -680px 0;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 2560px auto;
    }
  }
}

.page-header--form {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  @media ($mobile-widths-only) {
    min-height: 237px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-position: -190px 0;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-mobile@2x.jpg);
      background-size: 700px auto;
    }
  }
  @media ($tablet-widths) {
    min-height: 440px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position: -250px 0;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: 1200px auto;
    }
  }
  @media ($desktop-widths) {
    min-height: 394px;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-position: -680px 0;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 2560px auto;
    }
  }
}

.page-header__competition-title {
  color: $white;
  font-family: 'OpenSans light', Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 32px;
  @media ($tablet-widths) {
    font-size: 50px;
    line-height: 60px;
    margin-top: 53px;
  }
  @media ($desktop-widths) {
    margin-top: 62px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

.page-header--form > .page-header__competition-title {
  @media ($desktop-widths) {
    margin-left: 180px;
    margin-right: 180px;
  }
}

/* NoJS */
.page-header--index.page-header--nojs {
  min-height: 721px;
  background-position: 0 435px, -190px 259px;
}

.page-header--photo.page-header--nojs {
  min-height: 495px;
  background-position: -190px 259px;
}

.page-header--form.page-header--nojs {
  min-height: 495px;
  background-position: -190px 259px;
}

.page-header--nojs .main-nav__toggle {
  display: none;
}

.page-header--nojs .main-nav__list {
  display: block;
}
