.page-footer {
  display: block;
  position: relative;
  top: 26px;
  margin-top: 41px;
}

.footer-logo {
  margin-left: 86px;
}

.logo-pink-blue-mobile {
  width: 146px;
  height: 40px;
}

.footer-socnet__icons {
  list-style: none;
  min-height: 70px;
}

.icon-twitter {
  float: left;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 36px;
  left: 48px;
  fill: $pink;
}

.icon-facebook {
  float: left;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 34px;
  left: 42px;
  fill: $pink;
}

.icon-youtube {
  float: left;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 36px;
  left: 39px;
  fill: $pink;
}

.footer-socnet__icons--icon-twitter::after {
  content: "";
  float: left;
  display:block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 13px;
}

.footer-socnet__icons--icon-facebook::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 7px;
}

.footer-socnet__icons--icon-youtube::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 4px;
}

.page-footer--form {
  top: -90px;
}
