.page-footer {
  display: block;
  position: relative;
  top: 26px;
  margin-top: 41px;
  @media ($tablet-widths) {
    min-height: 88px;
  }
  @media ($desktop-widths) {
    width: 1200px;
  }
}

.page-footer::after {
  @media ($mobile-widths) {
    content: '';
    display: table;
    clear: both;
  }
}

.page-footer--index {
  @media ($mobile-widths) {
    display: none;
  }
  @media ($tablet-widths) {
    display: block;
    min-height: 126px;
    top: 190px;
    font-size: 0;
    @include clearfix;
  }
  @media ($desktop-widths) {
    top: 248px;
    min-height: 164px;
  }
}

.page-footer--photo {
  @media ($mobile-widths-only) {
    padding-top: 20px;
  }
  @media ($desktop-widths) {
    height: 120px;
    margin-top: 108px;
  }
}

.page-footer--form {
  @media ($mobile-widths-only) {
    margin-top: -76px;
  }
  @media ($tablet-widths) {
    position: relative;
    height: 120px;
    margin-top: 984px;
    margin-bottom: 25px;
  }
  @media ($desktop-widths) {
    height: 178px;
    margin-top: 164px;
    margin-left: 3px;
    margin-bottom: 0;
  }
}

.footer-logo {
  @media ($tablet-widths) {
    width: 190px;
    float: left;
    margin-left: 0;
    padding-left: 41px;
    padding-top: 36px;
  }
}

.page-footer--photo > .footer-logo {
  @media ($tablet-widths) {
    padding-top: 0;
    margin-top: -3px;
  }
  @media ($desktop-widths) {
    margin-top: -5px;
    margin-left: -2px;
  }
}

.page-footer--form > .footer-logo {
  @media ($tablet-widths) {
    padding-top: 56px;
    margin-top: -3px;
  }
  @media ($desktop-widths) {
    margin-top: -4px;
    margin-left: -5px;
    margin-right: 3px;
  }
}

.logo-pink-blue-mobile {
  width: 146px;
  height: 40px;
}

.footer-socnet {
  @media ($tablet-widths) {
    float: left;
    width: 250px;
    margin-left: 0;
    margin-top: 20px;
  }
  @media ($desktop-widths) {
    margin-left: 253px;
  }
}

.footer-socnet::after {
  content: '';
  display: table;
  clear: both;
}

.page-footer--photo > .footer-socnet {
  @media ($tablet-widths) {
    margin-top: -37px;
  }
  @media ($desktop-widths) {
    margin-left: 256px;
  }
}

.footer-socnet__icons {
  list-style: none;
  min-height: 70px;
  @media ($tablet-widths) {
    margin-left: 0;
  }
}

.icon-twitter {
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 36px;
  left: 48px;
  fill: $pink;
  z-index: 100;
  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
  @media ($tablet-widths) {
    left: 7px;
  }
}

.icon-facebook {
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 34px;
  left: 42px;
  fill: $pink;
  z-index: 100;
  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
  @media ($tablet-widths) {
    left: 0;
  }
}

.icon-youtube {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 36px;
  left: 39px;
  fill: $pink;
  z-index: 100;
  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
  @media ($tablet-widths) {
    left: -1px;
  }
}

.footer-socnet__icons--icon-twitter::after {
  content: "";
  float: left;
  display:block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 13px;
  z-index: 90;
  @media ($tablet-widths) {
    left: -29px;
  }
}

.footer-socnet__icons--icon-twitter:hover::after {
  content: "";
  float: left;
  display:block;
  width: 45px;
  height: 45px;
  border: 3px solid $gray;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 13px;
  z-index: 90;
  @media ($tablet-widths) {
    left: -29px;
  }
}

.footer-socnet__icons--icon-twitter:active::after {
  content: "";
  float: left;
  display:block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 13px;
  opacity: 0.3;
  z-index: 90;
  @media ($tablet-widths) {
    left: -29px;
  }
}

.footer-socnet__icons--icon-facebook::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 7px;
  z-index: 90;
  @media ($tablet-widths) {
    left: -35px;
  }
}

.footer-socnet__icons--icon-facebook:hover::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid $gray;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 7px;
  z-index: 90;
  @media ($tablet-widths) {
    left: -35px;
  }
}

.footer-socnet__icons--icon-facebook:active::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 7px;
  opacity: 0.3;
  z-index: 90;
  @media ($tablet-widths) {
    left: -35px;
  }
}

.footer-socnet__icons--icon-youtube::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 4px;
  z-index: 90;
  @media ($tablet-widths) {
    left: -35px;
  }
}

.footer-socnet__icons--icon-youtube:hover::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid $gray;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 4px;
  z-index: 90;
  @media ($tablet-widths) {
    left: -35px;
  }
}

.footer-socnet__icons--icon-youtube:active::after {
  content: "";
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 4px;
  opacity: 0.3;
  z-index: 90;
  @media ($tablet-widths) {
    left: -35px;
  }
}

.footer-copyright {
  @media ($tablet-widths) {
    width: 200px;
    float: right;
  }
  @media ($desktop-widths) {
    margin-right: 111px;
  }
}

.page-footer--photo > .footer-copyright {
  @media ($tablet-widths) {
    margin-top: -38px;
  }
  @media ($desktop-widths) {
    margin-top: -42px;
  }
}

.page-footer--form > .footer-copyright {
  @media ($tablet-widths) {
    margin-top: 18px;
  }
  @media ($desktop-widths) {
    margin-top: 16px;
    margin-right: 115px;
  }
}

.footer-copyright__text {
  @media ($tablet-widths) {
    margin-left: 30px;
    margin-top: 26px;
  }
  @media ($desktop-widths) {
    font-size: 18px;
    line-height: 18px;
  }
  @media ($desktop-widths) {
    margin-left: 28px;
  }
}

.footer-copyright__logo-htmlacademy svg {
  fill: $pink;
  &:hover {
    fill: $gray;
  }
  &:active {
    opacity: 0.3;
  }
  @media ($tablet-widths) {
    position: relative;
    left: -37px;
  }
  @media ($desktop-widths) {
    left: -15px;
  }
}

@media ($mobile-widths-only) {
  .logo-pink-blue-desktop,
  .logo-pink-blue-tablet {
    display: none;
  }
  .logo-pink-blue-mobile {
    display: block;
    width: 146px;
    height: 40px;
    margin-left: 86px;
    margin-top: -20px;
    margin-bottom: 0;
    fill: $gray;
    &:hover {
      fill: $pink;
    }
    &:active {
      fill: $gray;
      opacity: 0.3;
    }
  }
}

.page-footer--form .logo-pink-blue-mobile {
  @media ($mobile-widths-only) {
    position: relative;
    top: 2px;
    margin-bottom: 23px;
  }
}

.page-footer--photo .logo-pink-blue-mobile {
  @media ($mobile-widths-only) {
    position: relative;
    top: 2px;
    margin-bottom: 23px;
  }
}

@media ($tablet-widths) {
  .logo-pink-blue-desktop,
  .logo-pink-blue-mobile{
    display: none;
  }
  .logo-pink-blue-tablet {
    display: block;
    width: 146px;
    height: 40px;
    fill: $gray;
    &:hover {
      fill: $pink;
    }
    &:active {
      fill: $gray;
      opacity: 0.3;
    }
  }
}

@media ($desktop-widths) {
  .logo-pink-blue-tablet,
  .logo-pink-blue-mobile{
    display: none;
  }
  .logo-pink-blue-desktop {
    display: block;
    width: 146px;
    height: 40px;
    margin-left: 92px;
    fill: $gray;
    &:hover {
      fill: $pink;
    }
    &:active {
      fill: $gray;
      opacity: 0.3;
    }
  }
}
