.page-header {
  display: flex;
  flex-direction: column;
  min-height: 462px;
  background-color: $gray;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-position: 0 176px, -190px 0;
  background-repeat: no-repeat, no-repeat;
}
