.promo-image {
  @media ($mobile-widths-only) {
    min-height: 396px;
    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 83px 15px;
    z-index: 10;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-screen-mobile@2x.png);
      background-size: 157px auto;
    }
  }
  @media ($tablet-widths) {
    display: none;
  }
  @media ($desktop-widths) {
    display: none;
  }
}
