@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*@mixin container {
  @media ($mobile-widths-only) {
    width: 320px;
    margin: 0 auto;
  }
  @media ($tablet-widths) {
    width: 700px;
    padding: 0 40px;
  }
  @media ($desktop-widths) {
    width: 1200px;
    padding: 0 120px;
  }
}*/
