/*Some colors*/
$black: #000000;
$darkgray: #1d2631;
$gray: #283645;
$lightgray: #f2f2f2;
$pink: #d22856;
$white: #ffffff;
$green: #2aab6d;

/* Media queries */
$mobile-widths: "min-width: 320px";
$mobile-widths-only: "max-width: 699px";
$tablet-widths: "min-width: 700px";
$desktop-widths: "min-width: 1200px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
